*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(images/20366619.jpg);
}
.login{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.6);
    text-align: center;
}
.login h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.4);

}
.login input[type="text"], .login input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(242, 245, 255);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 25px;
    transition: 0.25px;
}
.login input[type="text"]:focus, .login input[type="password"]:focus{
    border-color: rgb(255, 255, 255);
}
.login input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 25px;
    transition: 0.25px;
    cursor: pointer;
}
.login input[type="submit"]:hover{
    background: rgb(255, 255, 255);
}